# Environment variables
.env
*.env
*.csv

# Specific large files
Recommendation System/1/ratings_Electronics (1).csv

Recommendation System/models

# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# VS Code
.vscode/

# PyCharm
.idea/
